<h2>おすすめ商品</h2>
<div class="product-grid">
  <% @recommended_items.each do |item| %>
    <div class="product-card">
      <% if item.image_item.attached? %>
        <%= image_tag item.image_item, alt: item.name, class: "product-img" %>
      <% else %>
        <%= image_tag "no_image.jpg", alt: "画像なし", class: "product-img" %>
      <% end %>
      <p>¥<%= item.price %></p>
      <h4><%= link_to item.name, item_path(item) %></h4>
    </div>
  <% end %>
</div>
<div class="pagination-container">
  <%= paginate @recommended_items %>
</div>
