<h2>【管理画面】カテゴリ編集 ID:<%= @category.id %></h2>

<%= form_for @category, url: admin_category_path(@category), method: :patch do |f| %>
  <div>
    <%= f.label :category_name, "カテゴリ名" %><br>
    <%= f.text_field :category_name %>
  </div>

  <%= f.submit "更新する", class: "btn btn-primary", style: "margin-top:1em;" %>
<% end %>

<hr>
<%= link_to "一覧へ戻る", admin_categories_path, class: "btn btn-secondary" %>
