<h2>【管理画面】カテゴリ追加</h2>

<% if flash[:alert].present? %>
  <div style="color:red;">
    <% Array(flash[:alert]).each do |err| %>
      <div><%= err %></div>
    <% end %>
  </div>
<% end %>

<%= form_for @category, url: admin_categories_path do |f| %>
  <div>
    <%= f.label :category_name, "カテゴリ名" %><br>
    <%= f.text_field :category_name %>
  </div>

  <%= f.submit "登録する", class: "btn btn-primary", style: "margin-top:1em;" %>
<% end %>

<hr>
<%= link_to "一覧へ戻る", admin_categories_path, class: "btn btn-secondary" %>
